
.week,
.picks {
    display: block;
    margin: 0 auto;
    width: 95%;
    max-width: 45rem;
    /* background-color: deeppink; */
    font-family: 'Oswald', sans-serif;
    position: relative;
    text-transform: uppercase;
}

.week .header {
    display: grid;
    grid-template-columns: auto 1fr;
    text-transform: capitalize;
    width: 100%;
    border-bottom: 1px solid #CCC;
    padding: 0;
    margin: 0;
    /* background-color : rgba(50,50,50, 0.5); */
}

.week .header select {
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 1rem;
    appearance: none;
    border: none;
    background-color: transparent;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    color: #000;
}

.week header .week-count {
    color: #999;
}

.week header .current-player {
    align-items: end;
    text-align: right;
    border: none;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    padding: 0 1rem;
}

.week .day h2 {
    color: #666;
    /* background-color: rgba( 0, 0, 0, .04); */
    padding: .5rem 1rem;
}

.week .games {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
}

.week .games .game {
    border: 4px solid #F4F4F4;
    /* border: 4px solid #666; */
}

.week .games .game.result-correct {
    border-color: green;
}

input[type="radio"] {
    display: none;
}

.week .games label {
    display: grid;
    grid-template-columns: 2.25rem 2fr 1fr;
    grid-gap: .5rem;

    float: left;
    clear: both;
    width: 100%;
    background-color: transparent;
    transition: all .2s;

    filter: saturate(0);
    /* transition-property: opacity, left;
    transition-duration: 3s, 5s, 2s, 1s; */
}
.week .games label img,
.picks .day .pick img {
    padding: 0 .5rem 0 0;
    width: 2em;
    height: 2em;
}

.week .games label h3 {
    line-height: 2.25em;
}

.week .games label h3 .record {
    font-size: smaller;
    color: #999;
}
.week .games label h3.score {
    text-align: right;
    padding-right: .5rem;
}

.week .games .pick-home .label-away,
.week .games .pick-away .label-home {
    background-color: transparent;
    opacity: 0.3;
    
}

.week .games .pick-home .label-home,
.week .games .pick-away .label-away {
    background-color: #f4f4f4;
    filter: saturate(1);
}
/* .week .games .game input[type="radio"]:checked+label {
    color: deeppink;
} */

.week .games footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    color: #999;
    font-size: smaller;
    font-weight: 500;
}

.week .games footer .status,
.week .games footer .points {
    /* background-color: deeppink; */
    padding: .25rem .3rem;
}
.week .games footer .points {
    text-align: right;
}

.week .games footer .points select {
    border: none;
}

.week .week-footer {
    /* background-color: deeppink; */
    display: grid;
    grid-template-columns: auto 1fr;
    

    padding: 1rem;
}

.week .week-footer .bye {
    /* background-color: deeppink; */
    /* line-height: 3.25rem; */
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: top;
}
.week .week-footer .bye .title {
    /* background-color: deeppink; */
    line-height: 2.25rem;
    padding-right: 0.5rem;
}

.week .week-footer .bye-game,
.week .week-footer .bye img,
.week .week-footer .bye h4 {
    display: block;
    float: left;
    clear: none;
    padding: 0;
}

.week .week-footer .bye-game {
    padding-right: 0.5rem;    
}

.week .week-footer .bye h4 {
    line-height: 2.25rem;
}
.week .week-footer .bye img {
    display:inline-block; 
    padding: 0 .25rem 0 0;
    width: 2em;
    height: 2em;
}

.picks { 
    /* background-color: #f4f4f4; */
    padding: 0.5rem;
    background-color: white;
    border-radius: .5rem;
    border: 1px #f4f4f4 solid;
}

.picks header h1 {
    font-size: larger;
    padding: 1rem 0 .5rem;
    /* background-color: deeppink; */
}
.picks header h2 {
    margin: 0;
    text-transform: capitalize;
}
.picks header h2.week {
    color: #999;
    width: 100%;
    margin: 0;
    border-bottom: 1px #CCC solid;
    padding-bottom: .25rem;
}

.picks header h2 .count {
    padding-left: 0.25rem;
}
.picks .day,
.picks .week-picks-footer {
    display: flexbox;
    clear: both;
    width: 100%;
}

.picks .day header {
    border-bottom: none;
}

.picks .day h2 {
    text-transform: capitalize;
    padding: 0.5rem 0 0.25rem;
}

.picks .day .pick {
    display: grid;
    grid-template-columns: 3rem 1fr auto;
    align-items: top;
    text-transform: capitalize;
    line-height: 2.25rem;
    border-top: 1px #CCC solid;
}
.picks .day .result-incorrect img,
.picks .day .result-incorrect h3,
.picks .day .result-incorrect .points {
    opacity: .3;
    filter: saturate(0);
}

.picks .day .result-incorrect h3 {
    text-decoration: line-through;
}

.picks .day .result-correct .points {
    color: green;
}

.picks .week-picks-footer {
    text-transform: lowercase;
}
.picks .week-picks-footer h2 {
    padding: 1.75rem 0 1rem;
    text-align: center;
}
.picks .week-picks-footer h2 .in-progress,
.picks .week-picks-footer h2 .points {
    color: #999;
}
.picks .week-picks-footer h2 .points {
    padding-left: 0.5rem;
}


@media screen and (min-width: 700px) {
    .week .games {
        grid-template-columns: 1fr 1fr;
    }

    .picks {
        position: absolute;
        left: 2rem;
        top: 2rem;
        max-width: 15rem;
    }    
    
}